[submodule "dependencies/libiconv"]
	path = dependencies/libiconv
	url = https://git.savannah.gnu.org/git/libiconv.git
[submodule "dependencies/gnulib"]
	path = dependencies/gnulib
	url = git://git.savannah.gnu.org/gnulib.git
[submodule "dependencies/gettext"]
	path = dependencies/gettext
	url = https://git.savannah.gnu.org/git/gettext.git
[submodule "dependencies/--force"]
	path = dependencies/--force
	url = https://git.savannah.gnu.org/git/gettext.git
[submodule "dependencies/libffi"]
	path = dependencies/libffi
	url = https://github.com/libffi/libffi.git
[submodule "dependencies/pcre"]
	path = dependencies/pcre
	url = https://github.com/svn2github/pcre.git
[submodule "dependencies/glib"]
	path = dependencies/glib
	url = https://github.com/GNOME/glib.git
